* {
	font-family: arial;
}
header{
	height: 80px;
	padding-top: 22px;
}

header img {
	width: 140px;
}

.fundo {
	background-image: url('../imagens/fundo.png');
	height: 246px;
	width: 100%;
	background-size: contain;
  background-repeat: no-repeat;

}

.txt-fundo{
	padding-left: 249px;
    padding-top: 100px;
    color: white;
}

.txt-fundo h1 {
	font-weight: bolder;
	margin: 0;
}

.txt-fundo h4 {
	font-weight: bolder;
	margin: 0;
}

.video {
	justify-content: center;
}

.ajuda {
  max-width: 700px;
  margin: 0 auto;
}

.barra {
	width: 640px;
	height: 10px;
}

.center {
	justify-content: center;
}

.auxiliar {
	width: 640px;
	padding: 30px 0 30px 0;
}

.img-mid{
	width: 270px;
}

.bg-txt {
	background-color: #f7f7f7;
	padding: 45px 0 45px 0;
}

.bg-txt h5 {
	font-weight: bold;
	color: #0062a3;
	margin: 0;
	font-size: 25px;
}

.head-txt{
  max-width: 500px;
  margin: 0 auto;
}

.change-cor{
  max-width: 345px;
  margin: 0 auto;
}

.change-cor h6 {
	font-weight: bold;
	margin: 0;
}

.txt-center {
	text-align: center;
}

.txt-margin {
	padding-top: 30px;
}

.txt-margin p {
	margin: 0;
}

.explic1 {
  max-width: 700px;
  margin: 0 auto;
}

.padrao{
	padding: 45px 0 30px 0;
}

.botao-center{
	justify-content: center;
	display: flex;
}

.botao-center button {
	background-color: #0062a3;
	color: white;
	border: solid 1px #0062a3;
	border-radius: 3px;
	font-size: 12px;
	width: 200px;
	height: 30px;
}

.contate {
	padding: 30px 0 30px 0;
	text-align: center;
}

.contate p {
	margin: 0;
}

.auxiliar2 {
	width: 800px;
	padding: 20px 0 30px 0;
	border-top: solid 3px #f7f7f7;
}

.img-footer {
	width: 120px;
}

.txt-footer {
	justify-content: center;
	display: flex;
	margin-top: -30px;
}

.txt-footer p {
	margin-left: 110px;
	font-size: 10px;
}

.contate .um {
	font-size: 12px;
}

.contate .dois {
	font-size: 12px;
}

.contate .tres {
	font-size: 12px;
}

@media only screen and (max-width: 1052px) {
  .txt-fundo {
    padding-left: 249px;
    padding-top: 56px;
  }
}

@media only screen and (max-width: 962px){
  .txt-fundo {
    padding-left: 28px;
    padding-top: 56px;
  }
}

@media only screen and (max-width: 857px) {
  .txt-fundo {
    padding-left: 53px;
    padding-top: 45px;
  }
  .barra {
  	width: 100%;
  }
}

@media only screen and (max-width: 698px) {
  .txt-fundo {
    padding-left: 0px;
    padding-top: 25px;
  }
  .fundo {
    height: 183px;
  }

  .img-footer {
    margin: 0 10;
  }  
}

@media only screen and (max-width: 767px) {
  .ajuda div {
    display: flex;
    justify-content: center;
  }

  .ajuda div img {
    height: 113px;
  }

}

@media only screen and (max-width: 523px) {
  .txt-fundo {
    padding-left: 36px;
    padding-top: 10px;
  }
}

@media only screen and (max-width: 507px) {
  .txt-fundo {
    padding-left: 4px;
    padding-top: 10px;
  }

  .txt-footer {
    margin-top: 0;
  }

  .txt-footer p {
    margin-left: 0;
    margin-top: 15px;
  }


}

@media only screen and (max-width: 473px) {
  .txt-fundo {
    padding-left: 4px;
    padding-top: 20px;
  }

  .txt-fundo h1 {
  	padding-left: 4px;
    font-size: 20px;
  }

  .txt-fundo h4 {
  	padding-left: 4px;
    font-size: 15px;
  }
  .fundo {
  	height: 90px;
  }

/*  .mobile1 {
  	margin-left: 55px;
  }

  .mobile2 {
  	margin-right: 55px;
  }
*/
}

@media only screen and (max-width: 374px){
/*	.mobile1 {
  	margin-left: 55px;
  }

  .mobile2 {
  	margin-right: 43px;
  }
*/
}
@media only screen and (max-width: 344px){
/*	.mobile1 {
  	margin-left: 34px;
  }

  .mobile2 {
  	margin-right: 34px;
  }
*/
}

@media only screen and (max-width: 344px){
/*  .mobile1 {
    margin-left: 34px;
  }

  .mobile2 {
    margin-right: 34px;
  }
  */
}

@media only screen and (max-width: 344px){
/*	.mobile1 {
  	margin-left: 35px;
  }

  .mobile2 {
  	margin-right: 16px;
  }
*/
}



@media only screen and (max-width: 414px){
 /* .mobile1 {
    margin-left: 65px;
  }

  .mobile2 {
    margin-right: 73px;
  }*/
}

@media only screen and (max-width: 425px){
	/*.mobile1 {
  	margin-left: 76px;
  }

  .mobile2 {
  	margin-right: 76px;
  }*/
}

@media only screen and (max-width: 375px){
 /* .mobile1 {
    margin-left: 50px;
  }

  .mobile2 {
    margin-right: 50px;
  }*/
}

@media only screen and (max-width: 320px) {
 /* .mobile1 {
    margin-left: 26px;
  }

  .mobile2 {
    margin-right: 26px;
  }*/
}
